@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
}


.navbar{
  display: flex;
  justify-content: space-between;
  padding: 25px 150px;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  background-color: rgb(105, 105, 221);
  color: white;
}
.logo{
  font-size: 14px;
  letter-spacing: 7px;
}
.navbar li{
  display: flex;
  column-gap: 40px;
  align-items: center;
  list-style-type: none;
}
.navbar li .link{
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 20px;
}
.navbar li .link:hover{
  color: rgb(1, 1, 121);
  text-decoration: none;
  cursor: pointer;
  transition: 300ms;
}


.footer{
  background-color: rgb(105, 105, 221);
  color: rgb(229, 229, 229);
  text-align: center;
  padding: 20px 150px;
  font-size: 16px;
  font-weight: 500;
}